<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class = 'title'><%= title %></h1>
    <div class = 'container-fluid'>
    <%- include('layout') -%>
    <div class = 'main-body'>
      <form action = '' method = 'POST'>
        <fieldset>
          <legend>Add New Category</legend>
            <input
              type = 'text'
              name = 'name'
              id = 'name._id'
              maxlength = '20'
              value = "<%= typeof category == 'undefined' ? '' : category.name %>"
          />
        </fieldset>
        <fieldset>
            <legend>Description</legend>
              <input
                type = 'text'
                name = 'description'
                id = 'description._id'
                maxlength = '20'
                value = "<%= typeof category == 'undefined' ? '' : category.description %>"
            />
          </fieldset>
        <button type = 'submit'>
          Submit
        </button>
    </div>
    </div>
  </body>
</html>