<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class = 'title'><%= title %></h1>
    <div class = 'container-fluid'>
    <%- include('layout') -%>
    <div class = 'main-body'>
      <ul>
        <% if (category_list) { %>
          <% category_list.map(category => { %>
            <li><a href='<%= category.url %>'<%= category.name %></a>
              <%= category.name %>
            </li>
          <% }) %>
        <% } else { %>
          <li>There are no categories.</li>
        <% } %>
      </ul>
    </div>
    </div>
  </body>
</html>

