<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>: <%= category.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class = 'title'><%= title %>: <%= category.name %></h1>
    <div class = 'container-fluid'>
    <%- include('layout') -%>
    <% if (category_items.length > 0) { %>
        <p>Please delete the following items before removing this category</p>
        <ul>
          <% category_items.forEach(item => { %>
            <li><a href="<%= item.url %>"><%= item.pattern %></a></li>
          <% }) %>
        </ul>
        <% } else { %>
      <p>Do you really want to delete this category?</p>
      <form action = '' method = 'POST'>
        <input
          type = 'hidden'
          name = 'id'
          id = 'id'
          value = '<%= category._id %>'
          required
        />
      <button type = 'submit'>Delete</button>
    <% } %>
    </div>
  </body>
</html>