<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class = 'title'><%= item.pattern %></h1>
    <div class = 'container-fluid'>
    <%- include('layout') -%>
    <div class = 'main-body'>
      <ul>
        <% if (item_patterns) { %>
          <% item_patterns.map(item => { %>
            <li><a href = '<%= item.url %>'><%= item.pattern %></a>
              <p><%= item.category.name %></p>
              <p><%= item.description %></p>
              <p><%= item.price %></p>
              <p><%= item.category %></p>
            </li>
          <% }) %>
        <% } else { %>
          <li>There are no patterns.</li>
        <% } %>
      </ul>
    </div>
    </div>
  </body>
</html>