<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class = 'title'><%= title %></h1>
    <div class = 'container-fluid'>
    <%- include('layout') -%>
    <div class = 'main-body'>
      <form action = '' method = 'POST'>
        <fieldset>
          <legend>Pattern</legend>
            <input
              type="text"
              name="item"
              id="item._id"
              maxlength="50"
              value="<%= typeof item == 'undefined'? '' : item.pattern %>"
          />
        </fieldset>
        <fieldset>
          <legend>Description</legend>
          <input 
            type = 'text'
            name = 'description'
            id="description._id" 
            maxlength="500"
            value = "<%= typeof item == 'undefined' ? '' : item.description %>"
          </input>
        </fieldset>
        <fieldset>
          <legend>Price</legend>
          <input
            type = 'text'
            name = 'price'
            id = 'price._id'
            maxlength = '10'
            value = "<%= typeof item == 'undefined' ? '' : item.price %>"
          />
        </fieldset>

        <fieldset>
          <legend>Category</legend>
          <% if (categories) { %>
            <% categories.map(category => { %>
            <li>
              <input
                type = 'checkbox'
                name = 'category'
                id = category._id
                value = category.name
              />
              <a href='<%= category.url %>'><%= category.name %></a>
            </li>
            <% }) %>
          <% } else { %>
                <li>There are no categories.</li>
          <% } %>
        </fieldset>
        <button type = 'submit'>
          Submit
        </button>
    </div>
    </div>
  </body>
</html>
